<h2>My Heroes</h2>
      <ul class="heroes">
        <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero===SelectedHero">
          <span class="badge">{{hero.id}} </span> 
          <span> {{hero.name}} </span>
          <button class="delete" (click)="deleteHero(hero); $event.stopPropagation()">x</button>
        </li>
      </ul>
      
      <!--<hero-detail [hero]="SelectedHero"></hero-detail>-->

      <div *ngIf="SelectedHero"> 
          <h2>
            {{SelectedHero.name | uppercase}} is my hero !
          </h2>
          <button (click)="gotoDetail()">View Detailes</button>
      </div>

      <div>
        <label>Hero name</label>
        <input  #heroname  />
        <button (click)="addHero(heroname.value); heroname.value='' ">Add</button>
      </div>